<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Roller</title>
</head>
<body>
    <h1>Welcome to the Dice Roller!</h1>
    <ul>
        <li><a href="/dice/2/6">Roll 2d6</a></li>
        <li><a href="/dice/2/10">Roll 2d10</a></li>
        <li><a href="/dice/1/20">Roll 1d20</a></li>
        <li><a href="/dice/5/4">Roll 5d4</a></li>
    </ul>
</body>
</html>
